[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
black = "*"
pdoc = "*"
isort = "*"
flake8 = "*"
flake8-black = "*"
pytest = "*"
schwifty = "*"
owlready2 = "*"
pandas = "*"
ocrmypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
